/*Navbar estilos*/
.navbar-brand .logo {
  width: 8rem;
}

.btn_inicio {
  margin-right: 3rem;
}

.bg-principal {
  z-index: 0;
  position: absolute;
  filter: brightness(40%);
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-bottom: 8px solid #222;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;

  object-fit: cover;
}

.nav-home {
  z-index: 1;
}

/*Fin del navbar*/

/*Primera seccion del home*/

.card-home {
  position: relative;
  width: 100%;

  max-width: 950px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  background-color: transparent;
  top: 6rem;
}

.card-home h1 {
  color: white;
  max-width: 640px;
  margin: 0 auto;
  line-height: 1.1;
  font-size: 3.125rem;
}

.card-home h5 {
  color: white;
  font-size: 1.625rem;
  margin: 1rem auto;
}

.card-home p {
  color: white;
}

.card-body button {
  font-size: 1.625rem;
  min-height: 60px;
  text-transform: uppercase;
  background-color: #e50914;
  color: white;
  border-top-left-radius: 2;
  border-left: 1px solid #333;
}

.card-home p {
  max-width: none;
  padding-bottom: 20px;
  font-size: 1.2rem;
}

/*Fin primera seccion del home*/

/*Estilos para la seccion del video */
.anuncio {
  background-color: black;
  /* z-index: 2; */
  margin-top: -1rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  position: relative;
  border-bottom: 8px solid #222;
  padding: 50px 2%;
  margin-bottom: 0;
  top: 34vh;
  justify-content: space-between;
}

.anuncio h1 {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
  margin: 0 0 0.4em;
  color: #fff;

  font-weight: 400;
}

.anuncio-text {
  position: relative;
  top: 10vh;
}

.anuncio p {
  font-size: 1.625rem;
  font-weight: 400;
  color: white;
}

.anuncio img {
  max-width: 80%;

  border: 0;
  position: relative;
  z-index: 3;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*Fin de seccion de video*/

/*Estilos para el primer video del anuncio 1*/
.video_home {
  width: 30%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  position: absolute;
  top: 47%;
  left: 75%;
  display: inline-block;
  vertical-align: baseline;
  transform: translate(-50%, -50%);
}

/*Estilo del segundo video en la seccion 3 - anuncio 3*/
.video_home_second {
  width: 25%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  position: absolute;
  top: 37%;
  left: 74%;
  display: inline-block;
  vertical-align: baseline;
  transform: translate(-50%, -50%);
}

/*Seccion 2*/

.imagen_mobil {
  margin: -8% 0 -4% -3% !important;
  min-height: 100px !important;
  width: 100% !important;
}

/*Seccion acordion*/
.accordion_home {
 
  margin: 2em auto;
  max-width: 815px;
}

.accordion_home button {
  padding: .8em 2.2em .8em 1.2em;
  margin-bottom: 1px;
  font-weight: 400;
  position: relative;
  width: 100%;
  border: 0;
  display: block;
  text-align: left;
  background: #303030;
  cursor: pointer;
  color: #fff;
  font-size: 1.625rem;
  list-style-type: none;
  margin: 0 0 8px 0;
}

.accordion_home svg {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);

  height: 1em;
  width: 1em;
  fill: #fff;
}

.preguntas_frecuentes {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: .5rem;
  margin: 0 0 .4em;
  text-align: center;
}

.form_home {
  max-width: none;
  padding-bottom: 20px;
  font-size: 1.2rem;
  color: white;
}

/*Footer*/

footer {
  padding: 0;
  margin: 0;
}

#footer_text {
  font-size: 1em !important;
  color: gray !important;
}

.footer_links {
  max-width: 1000px;
  font-size: 0.846em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 2rem;
}

.footer_space {
  width: 80% !important;
  padding-bottom: 25px;
}

.footer_align {
  position: relative;
  bottom: 55px !important;
}

.footer-top-a {
  color: gray !important;
  text-decoration: none;
}

.footer-top-a:hover {
  text-decoration: underline;
}

.footer-top-a a {
  color: gray !important;
  text-decoration: none;
}

.form-select {
  background-color: transparent;
  width: 15%;
  color: white;

}

/*Responsive*/
@media screen and (min-device-width: 700px) and (max-device-width: 1200px) and (orientation : landscape)  {
  .accordion-item {
    width: 100%;
  }

  .accordion_home {
    width: 100%;


  }

  .accordion-header button {
    font-size: 15px;
  }

  .anuncio h1 {
    font-size: 40px;
    font-weight: 600;
  }

  .anuncio {
    margin-top: -4rem;
  }

  .footer_home {
    padding-bottom: 2px;
    padding-top: 100px;

  }

  .anuncio-text p {
    text-align: left;
  }

  .anuncio2-text {
    position: relative;
    top: -50vh;
  }

  .form_home {
    max-width: 450px;
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
  }

  .input_home {
    display: inline !important;
  }

  .input_home input {
    width: 100% !important;
  }

  .input_home button {
    font-size: 0.925rem;
    /* min-height: 60px; */
    text-transform: uppercase;
    background-color: #e50914;
    color: white;
    border-top-left-radius: 2;
    border-left: 1px solid #333;
    width: 50%;
    /* margin-top: 15px; */
    margin-left: 145px;
    justify-content: center;
    /* text-align: center; */
    position: relative;
    left: 120px;
    margin: 15px 0 0 0;
  }

  .form-select {
    width: 25%;
  }

  .video_home_second {
    width: 48%;
    left: 50%;
    top: 53%;
  }

  .anuncio-text {
    text-align: center;
    top: 0vh;
  }



  .video_home {
    top: 61%;
    width: 57%;
    left: 50%;
  }

  .card-body p {
    font-size: 1.25rem;
  }

  .imagen_mobil {
    top: 170px;
    left: 70px;
  }

}

@media only screen and (min-width:500px) and (max-width:699px) {
  .accordion-item {
    width: 100%;
  }

  .accordion_home {
    width: 100%;


  }

  .accordion-header button {
    font-size: 15px;
  }

  .anuncio{
    top: 30vh;
  }

  .anuncio h1 {
    font-size: 20px;
    font-weight: 600;
  }


  .footer_home {
    padding-bottom: 2px;
    padding-top: 60px;

  }

  .anuncio-text p {
    text-align: left;
  }

  .anuncio2-text {
    position: relative;
    top: -44vh;
    text-align: center;
  }


  .form_home {
    max-width: 450px;
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
  }

  .input_home {
    display: inline !important;
  }

  .input_home input {
    width: 100% !important;
  }

  .input_home button {
    font-size: 0.925rem;
    /* min-height: 60px; */
    text-transform: uppercase;
    background-color: #e50914;
    color: white;
    border-top-left-radius: 2;
    border-left: 1px solid #333;
    width: 50%;
    /* margin-top: 15px; */
    margin-left: 145px;
    justify-content: center;
    /* text-align: center; */
    position: relative;
    left: 120px;
    margin: 15px 0 0 0;
  }

  .form-select {
    width: 25%;
  }

  .video_home_second {
    width: 48%;
    left: 50%;
    top: 53%;
  }

  .anuncio-text {
    text-align: center;
    top: 0vh;
  }


  .video_home {
    top: 61%;
    width: 57%;
    left: 50%;
  }

  .card-body p {
    font-size: 1.25rem;
  }

  .imagen_mobil {
    top: 100px;
    left: 70px;
  }

  .card-header h1 {
    font-size: 25px !important;
  }

  .card-body button {
    font-size: 0.85rem;
  }

  .form-select {
    width: 35%;
  }

}

@media only screen and (min-width:280px) and (max-width:480px){

  .navbar-brand{
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
  margin-left: 1rem !important;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
  }

  .btn_inicio{
    margin-right: 0 !important;
  }
  .accordion-item {
    width: 100%;
  }

  .accordion_home {
    width: 100%;


  }

  .accordion-header button {
    font-size: 15px;
  }

  .anuncio{
    top: 7vh;
  }

  .anuncio h1 {
    font-size: 20px;
    font-weight: 600;
  }


  .footer_home {
    padding-bottom: 2px;
    padding-top: 60px;

  }

  .anuncio-text p {
    text-align: left;
  }

  .anuncio2-text {
    position: relative;
    top: -30vh;
    text-align: center;
  }


  .form_home {
    max-width: 450px;
    margin: 0 auto;
    font-weight: 400;
    text-align: center;
  }

  .input_home {
    display: inline !important;
  }

  .input_home input {
    width: 100% !important;
  }

  .input_home button {
    font-size: 0.925rem;
    text-transform: uppercase;
    background-color: #e50914;
    color: white;
    border-top-left-radius: 2;
    border-left: 1px solid #333;
    width: 50%;
    margin-left: 145px;
    justify-content: center;
    position: relative;
    left: 80px;
    margin: 15px 0 0 0;
  }

  .form-select {
    width: 45%;
  }

  .video_home_second {
    width: 48%;
    left: 50%;
    top: 58%;
  }

  .anuncio-text {
    text-align: center;
    top: 0vh;
  }

  .card-body p{
    font-size: 1rem !important;
  }

  .video_home {
    top: 66%;
    width: 57%;
    left: 50%;
  }

  .card-body p {
    font-size: 1.25rem;
  }

  .imagen_mobil {
    top: 120px;
    left: 50px;
  }

  .card-header h1 {
    font-size: 25px !important;
  }

  .card-body button {
    font-size: 0.85rem;
  }



  .card-home{
       top: 0 !important;
  }

  .input-group{
    width: 100% !important;
  }
}


