body{
    padding: 0;
    margin: 0;
    
}
/*Home Estilos*/

header{
     
    background: url('../img/login_banner.jpg') no-repeat center  ;
    background-size: cover;
    
    background-attachment: fixed;
    
    min-height: 147vh;
  }

 .nav-link{
     font-weight: 400;
     color: white !important;
 }

 .navbar{
   padding: 1rem 3rem !important;
 }


 .card{
   background-color: transparent !important;
   color: white !important;
   top:2vh;
   border: 0 !important;

 }
 .card-header{
  border-bottom: 0px solid rgba(0, 0, 0, 0) !important;
  background-color: transparent !important
 }

 .card-title{
   font-size: 4rem ;
   font-weight: 800;
 }

 .img_user{
  width: 14rem;
  height: 12rem;
   border-top-left-radius: 50% 50%;
   border-top-right-radius: 50% 50%;
   border-bottom-right-radius: 50% 50%;
   border-bottom-left-radius: 50% 50%;
 }

 .text-typing{
   padding: 10px 10px;
   font-family: monospace !important;
   font-size: 20px;
 
 }


/*Estlios de redes sociales*/
:root{
  --first-color: #ffffff;
  --first-color-light: rgb(0, 0, 0);
  --body-color: #FAFAFF;
  --body-font: 'Quicksand', sans-serif;
  --normal-font-size: 1rem;
}

.social_outer,
.social__inner,
.social__content{
  display:flex;
} 
.social_outer{
  height:6vh;
  justify-content: center;
  align-items: center;
}
.social__content{
  position:relative;
  padding:2px 8px 2px 8px;
  margin:0 1rem;
  background-color:var(--first-color-light);
  border-radius: 1rem;

  cursor: pointer;
}
.social__icon{
  font-size: 1.2rem;
  color:var(--first-color);
}
.social__tooltip{
  opacity: 0;
  position:absolute;
  padding:.5rem 1rem;
  background-color:var(--first-color);
  color:var(--first-color-light);
  font-size:var(--normal-font-size);
  white-space: nowrap;
  font-weight: 700;
  border-radius: .5rem;
  pointer-events: none;
}
.social__tooltip::after{
  content:'';
  position:absolute;
  width:8px;
  height:8px;
  background-color:var(--first-color);
  border-radius: 3px;
}
.social__content,
.social__tooltip,
.social__icon{
  transition:.3s;
}
.social__content:hover{
  background-color:var(--first-color);
}
.social__content:hover .social__icon{
  color:var(--first-color-light);
}

.social__tooltip-left{
  left:0;
  transform:translateX(-100%);
}
.social__tooltip-left::after{
  top:50%;
  transform:translate(50%,-50%) rotate(45deg);
  right:1px;
}
.social__content:hover .social__tooltip-left{
  opacity: 1;
  left:-1rem;
}

.social__tooltip-top{
  top:-2.25rem;
  left:50%;
  transform:translateX(-50%);
}
.social__tooltip-top::after{
  left:50%;
  transform:translate(-50%,50%) rotate(45deg);
  bottom:1px;
}
.social__content:hover .social__tooltip-top{
  opacity: 1;
  top:-3.25rem;
}

.social__tooltip-bottom{
  bottom:0;
  left:50%;
  transform:translate(-50%,100%);
}
.social__tooltip-bottom::after{
  left:50%;
  transform:translate(-50%,-50%) rotate(45deg);
  top:1px;
}
.social__content:hover .social__tooltip-bottom{
  opacity: 1;
  bottom:-1rem;
}

.social__tooltip-right{
  right:0;
  transform:translateX(100%);
}
.social__tooltip-right::after{
  top:50%;
  transform:translate(-50%,-50%) rotate(45deg);
  left:1px;
}
.social__content:hover .social__tooltip-right{
  opacity: 1;
  right:-1rem;
}

  /*Formulario de Inicio de sesion*/
  .login-box{
    width: 50% !important;
    height: auto;
    background-color: #000000d4;
    color: aliceblue;
    top: 230px !important;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 30px;
}

.login-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -50px;
    position: absolute;
    left: calc(50% - 50px);
}

.login-box h1{
    margin: 0;
    padding: 0 0 22px;
    text-align: center;
    font-weight: 22px;
    font-size: 30px;
    /* text-align: left; */
    position: relative;
    right: 85px;
}

.form-check-input{
    width: 1rem !important;
}

.form-check{
    color: gray;
    font-size: 15px;
    font-weight: 300;
    position: relative;
    left: 45px;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bolder;
    display: flex;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #ffff;
    background: transparent;
    outline: none;
    height: 40px;
    width: 80%;
    color: white;
    font-size: 15px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #e50914;
    color: honeydew;
    font-size: 18px;
    box-sizing: border-box;
    width: 70%;
    padding: 5px;
    position: relative;
    border-radius: 10px;
   
}

.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.login-box a:hover{
 color: #143938;
}

.small{
    font-size: 0.9rem !important;
}

.facebook_login{
text-align: left;
position: relative;
left: 3rem;
}

.facebook_login img{
    width: 5%;
}

.suscribe_login{
    text-align: left;
    position: relative;
left: 2rem;
}

.suscribe_login p{
font-size: 1rem;
}

.footer_login{
    background-color: rgba(0, 0, 0, 0.739) !important;
    color: white !important;
    top: 90vh;
    border: 0 !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

.anuncio_login{
    padding: 0 !important;
}

.card-body{
    padding: 0 !important;
}